<li class="list-group-item comment-container" style="background-color: transparent">
  <div class="container-fluid">
    <div class="row">

      <span class="comment-username">
          <strong><%= comment.name %></strong> 
      </span>

      <span class="pull-right">
        <span class="comment-date"><%= comment.created_at %></span>
        <%= link_to 'Delete',  { controller: "comments", action: :destroy, id: comment.id }, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "button-delete-comment btn-left-margin" %>
      </span>
    </div>
    <div class="row">
    <p>
      <%= comment.body %>
    </p>
    </div>
  </idv>
</li>