<div class="container comment-container">
  <div class="row">

    <span>
        <strong><%= comment.name %></strong> 
    </span>

    <span class="pull-right">
      <%= comment.created_at %>
      <%= link_to 'Delete',  { controller: "comments", action: :destroy, id: comment.id }, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs button-delete-comment btn-left-margin" %>
    </span>
  </div>
  <div class="row">
  <p>
    <%= comment.body %>
  </p>
  <hr>


  </div>
</div>