<!-- Home section -->
<div class="content-block content-block-home">
  <section class="section-block" id="home">
    <div id="home-slider">

      <div class="slider-element-container-first">
        <div class="slider-element-background slider-element-first">
          <h1>Ho Jeff Lee</h1>
          <h2>Online Resume</h2>
        </div>
      </div>

      <div class="slider-element-container">
        <div class="slider-element-background slider-background-primary">

          <div class="slider-element-title">
            <h1>Web Applications</h1>
          </div>

          <div class="slider-element-text slider-element-description">
            <h4>Front-end and back-end.</h4>
            <h4>From a single page website</h4>
            <h4>    to full sized web applications</h4>
          </div>

          <div class="slider-element-image slider-element-description" id="symbol-0"></div>

        </div>
      </div>

      <div class="slider-element-container">
        <div class="slider-element-background slider-background-complement">

          <div class="slider-element-title">
            <h1>Android and Windows</h1>
          </div>

          <div class="slider-element-text slider-element-description">
            <h4>Applications for smartphones,</h4>
            <h4>    smartwatches, and PC</h4>
          </div>

          <div class="slider-element-image slider-element-description" id="symbol-1"></div>

        </div>
      </div>

      <div class="slider-element-container">
        <div class="slider-element-background slider-background-primary">

          <div class="slider-element-title">
            <h1>Other Projects</h1>
          </div>

          <div class="slider-element-text slider-element-description">
            <h4>Other personal and school works</h4>
          </div>

          <div class="slider-element-image slider-element-description" id="symbol-2"></div>

        </div>
      </div>

      <div class="slider-element-container">
        <div class="slider-element-background slider-background-complement">
          <div class="slider-element-title">
            <h1>Interests</h1>
          </div>

          <div class="slider-element-text slider-element-description">
            <h4>Learn about how I spend my free time</h4>
          </div>

          <div class="slider-element-image slider-element-description" id="symbol-3"></div>

        </div>
      </div>

      <div class="slider-element-container slider-element-container-last slider-background-primary">
        <div class="slider-element-background" id="yellow-div">
          <div class="slider-element-title">
            <h1>About Me</h1>
          </div>

          <div class="slider-element-text slider-element-description">
            <h4>More details about me</h4>
          </div>

          <div class="slider-element-image slider-element-description" id="symbol-4"></div>


        </div>
      </div>
    </div>

  </section>
  <div class="intro"></div>
</div>








<!-- Section1 -->
<div class="content-block" id="content1-block">
  <section class="section-block" id="section1">
    <!-- Section title -->
    <div class="section-title">
      <h1 class="title-text">Web Applications</h1>
      <hr class="hr-long hr-border-white">
      <h4 class="title-text">Front-end and back-end.</h4>
      <h4 class="title-text">From a single page website to full sized web applications.</h4>
    </div>

    <!-- Section elements -->
    <div class="container-fluid section-element-container">

      <!-- element 1-0 -->
      <div class="row left-side">
        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <img class="element-image team-project" src="/images/1_0.png">
        </div>
        <div class="col-md-5 col-xs-12">

          <h4>Game-A-Thon of Learning</h4>
          <hr class="hr-short hr-border-primary">
          <p>A web application that supplies interactive method of learning through engaging and rewarding gameplay.</p>
          <ul class="desc-list">
            <li>Written with Ruby on Rails</li>
            <li>Model-View-Controller architecture</li>
            <li>My works was mainly about building back-end features such as serverside api, user authentication, and data validation</li>
            <li>Games based on 2D JavaScript physics engine</li>
          </ul>

          <a class="ext-link ext-link-github" href="https://github.com/gatolteam/gatol#game-a-thon-of-learning" target="_blank"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Go to GitHub</a>
          <a class="ext-link ext-link-website" href="http://gatolteam.github.io/gatol-html" target="_blank"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Visit Website</a>

        </div>
      </div>



      <!-- element 1-1 -->
      <div class="row right-side">
        <div class="col-md-5 col-md-offset-2 col-xs-12">
          <h4>GoldenGate Plating</h4>
          <hr class="hr-short hr-border-primary">
          <p>Personal project to practice front-end development and Bootstrap features</p>
          <ul class="desc-list">
            <li>Ruby on Rails</li>
            <li>Bootstrap</li>
          </ul>

          <a class="ext-link ext-link-github" href="https://github.com/jlee257/golden-gate" target="_blank"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Go to GitHub</a>
          <a class="ext-link ext-link-website" href="https://golden-gate-jlee257.herokuapp.com" target="_blank"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Visit Website</a>

        </div>

        <div class="col-md-3 col-xs-12">
          <img class="element-image personal-project" src="/images/1_1.png">
        
        </div>
      </div>



      <!-- element 1-2 -->
      <div class="row left-side">
        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <img class="element-image personal-project" src="/images/1_2.png">
        </div>

        <div class="col-md-5 col-xs-12">
          <h4>MyWeb</h4>
          <hr class="hr-short hr-border-primary">
          <p>Interactive personal homepage. This website :)</p>
          <ul class="desc-list">
            <li>Rubyon Rails and Bootstrap</li>
            <li>Animations with Javascript and jQuery</li>
          </ul>

          <a class="ext-link ext-link-github" href="https://github.com/jlee257/MyWeb" target="_blank"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Go to GitHub</a>
          <a class="ext-link ext-link-website" href="https://hojefflee.herokuapp.com" target="_blank"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Visit Website</a>

        </div>
      </div>



    </div>
  </section>
</div>


<!-- Section2 -->
<div class="content-block" id="content2-block">
  <section class="section-block" id="section2">
    <!-- Section title -->
    <div class="section-title">
      <h1 class="title-text">Android and Windows</h1>
      <hr class="hr-long hr-border-white">
      <h4 class="title-text">Applications for phones, wearable devices, and computers.</h4>
    </div>

    <!-- Section elements -->
    <div class="container-fluid section-element-container">

      <!-- element 2-0 -->
      <div class="row left-side">
        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <img class="element-image personal-project" src="/images/2_0.png">
          
        </div>
        <div class="col-md-5 col-xs-12">
          <div>
            <h4>CRUNCH TIME</h4>
            <hr class="hr-short hr-border-white">
            <p>An Android mobile application that quickly converts calories to amount of exercises needed</p>

            <ul class="desc-list">
              <li>Java program that built with Android Studio</li>
              <li>Allows conversions between exercises</li>
            </ul>

            <a class="ext-link ext-link-github" href="https://github.com/cs160-berkeley/prog-01-crunch-time-jlee257" target="_blank"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Go to GitHub</a>

          </div>
        </div>
      </div>

      <!-- element 2-1 -->
      <div class="row right-side">
        <div class="col-md-5 col-md-offset-2 col-xs-12">
          <div>
            <h4>BRUSH!</h4>
            <hr class="hr-short hr-border-white">
            <p>Smartwatch and smartphone application designed to help and motivate children to brush their teeth</p>

            <ul class="desc-list">
              <li>UMoto360 as the base wearable device</li>
              <li>Used accelerometer to detect hand motion of the wearer and collect information</li>
              <li>Data is managed and displayed on the phone</li>
              <li>Most of the watch application is done by me including front-end displays of the watch, sensor readings, 2D picker, and timer.</li>
            </ul>

            <a class="ext-link ext-link-github" href="https://github.com/cs160-berkeley/Group-21-Project" target="_blank"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Go to GitHub</a>
            
            <a class="ext-link ext-link-detail" href="https://docs.google.com/presentation/d/191Q9LwlyAxw0rUyq2JkFZe4GbLVvrXqXEPg4UVpjI0Y/edit?usp=sharing" target="_blank"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> View Details</a>
            <a class="ext-link ext-link-youtube" href="https://www.youtube.com/watch?v=Q02tTaZJ7IY" target="_blank"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Watch YouTube</a>

          </div>
        </div>

        <div class="col-md-3 col-xs-12">
          <div>
            <img class="element-image team-project" src="/images/2_1.png">
          
          </div>
        </div>
      </div>


      <!-- element 2-2 -->
      <div class="row left-side">
        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <img class="element-image personal-project" src="/images/2_2.png">
        </div>

        <div class="col-md-5 col-xs-12">
          <div>
            <h4>SimpleTagManager</h4>
            <hr class="hr-short hr-border-white">
            <p>A program for Windows10 useres that allow users to add tags to any file or folder</p>

            <ul class="desc-list">
              <li>A Visual Studio application</li>
              <li>Uses internal database and SQL to store and read tags</li>
              <li>Most of the File Explorer features such as cut, copy, paste, and delete</li>
              <li>Breadth first search algorithm with lazy loading to display files and folders</li>
            </ul>

            <a class="ext-link ext-link-github" href="https://github.com/jlee257/simple_tag_manager/tree/release/1.0.0.3" target="_blank"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Go to GitHub</a>

          </div>
        </div>
      </div>




    </div>
  </section>
</div>


<!-- Section3 -->
<div class="content-block" id="content3-block">
  <section class="section-block" id="section3">
    <div class="section-title">
      <h1 class="title-text">Other Projects</h1>
      <hr class="hr-long hr-border-white">
      <h4 class="title-text">Artificial Intelligence, Algorithms</h4>
    </div>

    <!-- Section elements -->
    <div class="container-fluid section-element-container">

      <!-- element 3-0 -->
      <div class="row left-side">
        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <img class="element-image course-work" src="/images/3_0.png">
        </div>

        <div class="col-md-5 col-xs-12">
          <div>
            <h4>AI Pacman</h4>
            <hr class="hr-short hr-border-primary">
            <p>An artificial intelligence that search solutions in different multi-agent Pac-man problem variations.</p>

            <ul class="desc-list">
              <li>Implemented search algorithms including depth-first-search, breadth-first-search, A*, iterative deepening, minimax and logical planning to find optimal solutions to survive and win in different environments</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- element 3-1 -->
      <div class="row right-side">
        <div class="col-md-5 col-md-offset-2 col-xs-12">
          <div>
            <h4>Crawler</h4>
            <hr class="hr-short hr-border-primary">
            <p>An artificial intelligence program that teaches itself how to crawl</p>
            <ul class="desc-list">
              <li>Implemented search algorithms including depth-first-search, breadth-first-search, A*, iterative deepening, minimax and logical planning to find optimal solutions to survive and win in different environments</li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-12">
          <div>
            <img class="element-image course-work" src="/images/3_1.png">
          
          </div>
        </div>
      </div>

    </div>
  </section>
</div>


<!-- Section4 -->
<div class="content-block" id="content4-block">
  <section class="section-block" id="section4">
    <!-- Section title -->
    <div class="section-title">
      <h1 class="title-text">Interests</h1>
      <hr class="hr-long hr-border-white">
      <h4 class="title-text">Playing games is fun.</h4>
      <h4 class="title-text">But sometimes, building and modifying one is even more fun.</h4>
    </div>

    <!-- Section elements -->
    <div class="container-fluid section-element-container">


      <!-- element 4-0 -->
      <div class="row left-side">
        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <img class="element-image personal-project" src="/images/4_0.png">
        </div>
        <div class="col-md-5 col-xs-12">
          <div>
            <h4>Blink Dagger from Dota2 for The Elder Scrolls V: Skyrim</h4>
            <hr class="hr-short hr-border-white">
            <p>An item from a very popular game called Dota2 remastered in another historic game, Skyrim.</p>

            <ul class="desc-list">
              <li>3D dagger fully remodelled and textured using Blender</li>
              <li>Teleportation scripts using Papyrus, a scripting system for Bethesda games</li>
              <li>Also features Visual and Sound FX</li>
            </ul>

            <a class="ext-link ext-link-detail" href="http://www.nexusmods.com/skyrim/mods/76869" target="_blank"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> View Details</a>

            <a class="ext-link ext-link-youtube" href="https://www.youtube.com/watch?v=KL3m7DVSXDk" target="_blank"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Watch YouTube</a>

          </div>
        </div>
      </div>

      <!-- element 4-1 -->
      <div class="row right-side">
        <div class="col-md-5 col-md-offset-2 col-xs-12">
          <div>
            <h4>Divine Rapier from Dota2 for The Elder Scrolls V: Skyrim</h4>
            <hr class="hr-short hr-border-white">
            <p>More from Dota2</p>

            <ul class="desc-list">
              <li>3D modelled in Blender</li>
              <li>Scripts using Papyrus</li>
            </ul>

            <a class="ext-link ext-link-detail" href="http://www.nexusmods.com/skyrim/mods/76782" target="_blank"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> View Details</a>

          </div>
        </div>

        <div class="col-md-3 col-xs-12">
          <div>
            <img class="element-image personal-project" src="/images/4_1.png">
          
          </div>
        </div>
      </div>

      <!-- element 4-2 -->
      <div class="row left-side">
        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <img class="element-image team-project" src="/images/4_2.png">
        </div>

        <div class="col-md-5 col-xs-12">
          <div>
            <h4>So Fly</h4>
            <hr class="hr-short hr-border-white">
            <p>A 3D animation starring two frogs and one fly.</p>

            <ul class="desc-list">
              <li>Modelled and animated using Maya</li>
              <li>My work focused on texturing, and weight painting</li>
            </ul>

            <a class="ext-link ext-link-youtube" href="https://www.youtube.com/watch?v=rqh1uTpqoK4" target="_blank"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Watch YouTube</a>

          </div>
        </div>
      </div>


    </div>
  </section>
</div>


<!-- Author bio -->
<div class="content-block" id="content-about-block">
  <section class="section-block" id="section-about" style="padding-bottom: 100px">
    <div class="container">
      <div class="section-title">
        <h1 class="title-text">About Me</h1>
        <hr class="hr-long hr-border-white">
      </div>


      <div class="row">
        <div class="col-md-12" style="height: 3vh">
        </div>

        <div class="col-md-4 col-md-offset-2 col-xs-12" style="text-align: center; height: 100%">
          <div id="my-picture"></div>
        </div>
        <div class="col-md-4 col-xs-12" style="min-height: 200px; display: flex; align-items: center">
          <div>
            <h3 class="text-highlight">Ho Jeff Lee</h3>
            <p>Hi all!! I am an undergraduate college student studying computer science in UC Berkeley. I love programming overall but my favorite part is algorithms. It's just so cool to break down complicated problems and solve them with just few sentences! Recently I also got interested in Artificial Intelligence and Machine Learning.</p>
            <p hidden>
              When I was a highschooler, I enjoyed playing games on my PC but saddly good old Warcraft III was pretty much the only game my PC could run. But I really enjoyed it and I liked building custom maps for the game. Then, I realized that I was spending more time on building the maps then actually playing the game... Dictating, and controlling the whole map was just so much fun and thats how I started programming.
            </p>
          </div>
        </div>

        <div class="col-md-8 col-md-offset-2 col-xs-12" style="margin-top: 10vh">
          <h3 class="text-highlight">Education</h3>
        </div>
        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <h4>University of California, Berkeley</h4>
          <h5 class="text-gray">California, USA</h5>
        </div>

        <div class="col-md-5">
          <p>Bachelor - Electrical Engineering and Computer Science</p>
          <p>4th Year, Expected Graduation: December 2016</p>
          <a href="#" id="link-show-course">Show list of courses <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></a>
          <div id="course-list">
            <p style="margin-top: 0">Data Structures (CS61B)</p>
            <p>Machine Structures (CS61C)</p>
            <p>User Interface Design (CS160)</p>
            <p>Software Engineering (CS169)</p>
            <p>Algorithms (CS70, CS170)</p>
            <p>Artificial Intelligence (CS188)</p>
            <p>Systems and Signal (EE20)</p>
            <p>Circuits (EE40)</p>
            <p>3D Modeling, 3D Animation (UCBUGG)</p>
            <p>Database Systems (CS186)</p>
            <p>Computer Security (CS161)</p>
          </div>
        </div>
        <div class="col-md-12" style="height: 3vh">
        </div>


        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <h4>Subiaco Academy</h4>
          <h5 class="text-gray">Arkansas, USA</h5>
        </div>
        <div class="col-md-5">
          <p>Highschool</p>
          <p>September 2009 - May 2011(graduated)</p>
        </div>

        <div class="col-md-8 col-md-offset-2 col-xs-12" style="margin-top: 10vh">
          <h3 class="text-highlight">Technical Skills</h3>
        </div>

        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <h4>Programming Languages</h4>
        </div>
        <div class="col-md-5">
          <p>Python</p>
          <p>Java</p>
          <p>SQL</p>
          <p>C</p>
          <p>C++</p>
          <p>C#</p>
          <p>Ruby</p>
          <p>JavaScript</p>
        </div>
        <div class="col-md-12" style="height: 3vh">
        </div>

        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <h4>Web Development</h4>
        </div>
        <div class="col-md-5">
          <p>HTML, CSS</p>
          <p>Bootstrap</p>
          <p>JavaScript libraries(jQuery)</p>
          <p>Ruby on Rails</p>
        </div>
        <div class="col-md-12" style="height: 3vh">
        </div>

        <div class="col-md-3 col-md-offset-2 col-xs-12">
          <h4>Tools and More</h4>
        </div>
        <div class="col-md-5">
          <p>Android Studio</p>
          <p>Eclipse</p>
          <p>Visual Studio</p>
          <p>Image Editing: Adobe Photoshop, Illustrator</p>
          <p>Video Editing: Adobe Premiere</p>
          <p>3D Modeling and Animation: Maya, Blender</p>
          <p>GitHub</p>
        </div>



        <div class="col-md-12" hidden>
          <h1>bootstrap phone test h1</h1>
          <h2>bootstrap phone test h2</h2>
          <h3>bootstrap phone test h3</h3>
          <h4>bootstrap phone test h4</h4>
          <h5>bootstrap phone test h5</h5>
          <p>bootstrap phone test p</p>
          <p>bootstrap phone test p1</p>
        </div>


        <div class="col-md-12" style="text-align: center; margin-top: 10vh">
          <button class="btn btn-primary" id='button-leave-message'>Leave a message</button>
          <button class="btn btn-warning btn-left-margin" id='button-review-message'>
            Show messsages <span class="badge" id="comment-badge"><%= @comment_count %></span>
          </button>
        </div>

      </div>
      <div class="panel panel-default" id="add-comment-form">
        <div class="panel-heading">Interested in working together or just Wanna say hello. Leave a message here.</div>
        <div class="panel-body">
          <%= render :partial => '/comments/form' %>
        </div>
      </div>
      <div class="panel panel-default" id="comment-list-panel">
        <ul class="list-group" id="comment-list">
          <% @comments.each do |comment| %>
            <%= render :partial => '/comments/show', :locals => { :comment => comment } %>
          <% end %>
        </ul>
      </div>
    </div>

  </section>

</div>


