<div class="row">

	<div class="col-xs-12 text-center">

		<h1 class="error">404</h1>
		<h2 class="error">Page not found</h2>
		<%= link_to root_path, class: 'btn btn-primary btn-lg' do %>
			<i class="glyphicon glyphicon-home"></i> Take me home
		<% end %>
	</div>

</div>