/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "colors";
$grid-float-breakpoint: 993px;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar-fixed-side";
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';


// Mainpage wrapping elements
div {
	&#content-body {
		margin: 0px;
		padding: 0px;
	}

	&.content-block {
		margin: 0px;
		padding: 0px 0px 0px 200px;
	}

	&.content-block-home {
		margin: 0px;
		padding: 0px;
		color: $color-white;
		background: linear-gradient($color-primary-opaque, $color-complement-opaque);
	}
}


body {
	margin: 0px;
	padding: 0px;
    background-image: url('/images/berkeley_background_blur20.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}






// Mainpage section blocks
section {
	padding-top: 60px;
	padding-bottom: 120px;
	margin: 0px;
	min-height: 900px;
}

section#home {
	padding: 0px;
	min-height: 100vh;
}

#content1-block {
	color: $color-primary-5;
	background-color: $color-complement-1;
}



// element images
.element-image {
	width: 300px;
	height: 212px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.element-image::before {
	position: absolute;
	color: $color-white;
	padding: 7px;
	bottom: 10px;
	margin-left: -10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.team-project::before{
	content: 'TEAM PROJECT';
	background-color: $color-complement-4
}

.personal-project::before{
	content: 'PERSONAL PROJECT';
	background-color: $color-primary-4;
}

.course-work::before{
	content: 'COURSE-WORK';
	color: $color-complement-4;
	background-color: $color-white;
}


#image1-0 {
	background-image: url('/images/1_0.png');
}
#image1-1 {
	background-image: url('/images/1_1.png');
}
#image1-2 {
	background-image: url('/images/1_2.png');
}
#image2-0 {
	background-image: url('/images/2_0.png');
}
#image2-1 {
	background-image: url('/images/2_1.png');
}
#image2-2 {
	background-image: url('/images/2_2.png');
}
#image3-0 {
	background-image: url('/images/3_0.png');
}
#image3-1 {
	background-image: url('/images/3_1.png');
}
#image4-0 {
	background-image: url('/images/4_0.png');
}
#image4-1 {
	background-image: url('/images/4_1.png');
}
#image4-2 {
	background-image: url('/images/4_2.png');
}




// element links
.ext-link {
	display: inline-block;
	color: $color-white;
	div {
		width: 8.5em;
		padding: 2px;
		margin-bottom: 5px;
		h6 {
			margin: 3px 5px;
		}
	}
	.ext-link-github {
		background-color: $color-black;
	}
	.ext-link-youtube {
		background-color: #e52d27;
	}
	.ext-link-website {
		background-color: $color-primary-4;
	}
	.ext-link-detail {
		background-color: $color-complement-4;
	}
}

#link-show-course {
	display: inline-block;
	h6 {
		margin-top: 0;
	}
}






#content2-block {
	color: $color-white;
	background-color: $color-primary-1;
}

#content3-block {
	// color: $color-gray-light;
	color: $color-primary-5;
	background-color: $color-complement-1;
}

#content4-block {
	color: $color-white;
	background-color: $color-primary-1;
}

#content-about-block {
	min-height: 100vh;
	color: $color-gray-light;
	background-color: rgba(0, 0, 0, 0.8);
}

section > div.container {
	margin: 0;
	width: 100%;
}

.left-side, .right-side {
	margin-top: 80px !important;
}






// Bootstrap Navbar
.navbar-fixed-side {
	width: 200px;
	margin: 0px;
}

.btn-primary:focus {
	background-color: $btn-primary-bg;
	border-color: $btn-primary-border;
}

.btn-warning:focus {
	background-color: $btn-warning-bg;
	border-color: $btn-warning-border;
}







// Bootstrap Fixes
.btn {
	border-radius: 0;
}

.btn-left-margin {
	margin-left: 7px;
}

#alert-box {
	position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}





// Misc
.comment-container {
	width: 100%;
}
.panel {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: transparent;
}
.panel-heading {
	color: $metro-light-gray !important;
	background-color: rgba(255,255,255,0.2) !important;
}
.comment-username {
	font-size: medium;
}
.comment-date {
	font-size: small;
	color: $color-gray-medium-dark;
}





// Home Slider
.container-fluid, .row {
	padding: 0;
	magin: 0;
}
#home-slider {
	 overflow: hidden;
	 padding: 0px;
	 height: 100%;
	 white-space: nowrap;
	 font-size: 0;
}

.slider-background-primary {
	background-color: $color-primary-3;
	// background: linear-gradient(to right, $color-primary-4, $color-primary-3 20%);
}
.slider-background-complement {
	background-color: $color-complement-3;
	// background: linear-gradient(to right, $color-complement-4, $color-complement-3 20%);
}

.slider-element-container-first {
	margin: 0;
	padding: 0;
	width: 50%;
	overflow: hidden;
	height: 100%;
	display: inline-block;
	transform: none;

	h1 {
		margin-top: 7vh;
		margin-left: 7vw;
	}
	h2 {
		margin-left: 7vw;
	}
}

.slider-element-container {
	margin: 0;
	padding: 0;
	width: 10%;
	overflow: hidden;
	height: 100%;
	display: inline-block;
	transform: skewX(160deg);
}

.slider-element-container-last {
	width: 50%;
}

.slider-element-background {
	padding: 30px;
	height: 100vh;
	width: 60vw;
}

.slider-element-title {
	margin-top: 50vh;
	transform-origin: 0% 0%;
	transform: skewX(20deg) rotate(-70deg);
}

.slider-element-text {
	margin-top: 5%;
	margin-left: 5%;
	transform: skewX(20deg);

	h4 {
		white-space: pre;
	}
}

.slider-element-image {
	position: absolute;
	height: 40vh;
	max-height: 626px;
	width: 40vh;
	max-width: 626px;
	top: 5vh;
	left: 10vw;
	transform: skewX(20deg);
	background-size: cover;

	&#symbol-0 {
		background-image: url('/images/icon_0.png');
	}
	&#symbol-1 {
		background-image: url('/images/icon_1.png');
	}
	&#symbol-2 {
		background-image: url('/images/icon_2.png');
	}
	&#symbol-3 {
		transform: skewX(20deg) rotate(-30deg);
		background-image: url('/images/icon_3.png');
	}
	&#symbol-4 {
		background-image: url('/images/icon_4.png');
	}
}

h1, h2 {
	font-family: 'Josefin Sans', sans-serif !important;
}

div.row {
	margin: 0;
}










.title-text {
	text-align: center;
}

.text-highlight {
	color: $color-primary-3;
}

.text-gray {
	color: $color-gray-medium-dark;
}

hr {
	&.hr-long { 
		width: 60vw;
		height: 2px;
		border: none;
	}
	&.hr-short {
		width: 30px;
		height: 2px;
		border: none;
		margin: 12px 0px;
	}	

	&.hr-border-white {
		background-color: $color-white;
	}
	&.hr-border-black {
		background-color: $color-black;
	}
	&.hr-border-primary {
		background-color: $color-primary-5;
	}
}


#my-picture {
	height: 200px;
	width: 200px;	border-radius: 100px;
	border-style: solid;
    border-width: thick;
    margin: auto;
    border-color: $color-primary-3;
	background-image: url('/images/my_image.png');
    background-size: cover;
}







// Dynamic scaling
@media (max-width: $grid-float-breakpoint) {
	.navbar-fixed-side {
		width: 100%;
	}
	div.content-block {
		padding: 0px;
	}
	#message {
		padding: 30px;
	}
}

