/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar-fixed-side";


// Mainpage wrapping elements
div {
	#content-body {
		margin: 0px;
		padding: 0px;
	}

	.content-block {
		margin: 0px;
		background-color: rgb(236, 220, 200);
		padding: 0px 0px 0px 200px;
	}

	.content-block-home {
		margin: 0px;
		padding: 0px;
		background-color: rgb(236, 200, 220);
	}
}

#content-body {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}






// Mainpage section blocks
section {
	padding: 15px;
	margin: 0px;
	min-height: 500px;
}

section#home {
	min-height: 100vh;

}

section#section-about {
	min-height: 100vh;
	background-color: rgb(186, 234, 244);
}

section > div.container {
	margin: 0;
}








// Bootstrap Navbar
.navbar-fixed-side {
	width: 200px;
	margin: 0px;
}

ul.nav > li {
	padding-left: 15px;
}







// Bootstrap Fixes
.btn {
	border-radius: 0;
}

.btn-left-margin {
	margin-left: 7px;
}

#alert-box {
	position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}




// Misc
#comment-list {
	margin-top: 50px;
}

#add-comment-form {
	margin-top: 50px;
}









// Dynamic scaling
@media (max-width: 767px) {
	.navbar-fixed-side {
		width: 100%;
	}

	div.content-block {
		padding: 0px;
	}

	#message {
		padding: 30px;
	}
}