/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "colors";
$grid-float-breakpoint: 993px;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar-fixed-side";


// Mainpage wrapping elements
div {
	&#content-body {
		margin: 0px;
		padding: 0px;
	}

	&.content-block {
		margin: 0px;
		padding: 0px 0px 0px 200px;
	}

	&.content-block-home {
		margin: 0px;
		padding: 0px;
		color: $metro-light-gray;
		background-color: rgba(0, 0, 0, 0.8);
	}
}


body {
	margin: 0px;
	padding: 0px;
    background-image: url('/images/berkeley_background_blur20.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}






// Mainpage section blocks
section {
	padding: 15px;
	margin: 0px;
	min-height: 900px;
}

section#home {
	padding: 0px;
	min-height: 100vh;
}

#content1-block {
	background-color: $metro-orange;
}

#image1-0 {
	background-image: url('/images/1_0.png');
    background-size: cover;
}

#image1-1 {
	background-image: url('/images/1_1.png');
    background-size: cover;
}







#content2-block {
	background-color: $metro-sea;
}

#content3-block {
	color: $metro-light-gray;
	background-color: $metro-gray;
}

#content4-block {
	background-color: $metro-light-gray;
}

#content-about-block {
	min-height: 100vh;
	color: $metro-light-gray;
	background-color: rgba(0, 0, 0, 0.8);
}

section > div.container {
	margin: 0;
	width: 100%;
}

.element-image {
	width: 300px;
	height: 212px; 
}





// Bootstrap Navbar
.navbar-fixed-side {
	width: 200px;
	margin: 0px;
}

.btn-primary:focus {
	background-color: $btn-primary-bg;
	border-color: $btn-primary-border;
}

.btn-warning:focus {
	background-color: $btn-warning-bg;
	border-color: $btn-warning-border;
}







// Bootstrap Fixes
.btn {
	border-radius: 0;
}

.btn-left-margin {
	margin-left: 7px;
}

#alert-box {
	position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}





// Misc
.comment-container {
	width: 100%;
}
.panel {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: transparent;
}
.panel-heading {
	color: $metro-light-gray !important;
	background-color: rgba(255,255,255,0.2) !important;
}
.comment-username {
	font-size: medium;
}
.comment-date {
	font-size: small;
	color: $gray-font;
}





.container-fluid, .row {
	padding: 0;
	magin: 0;
}
#home-container-row {
	 overflow: hidden;
	 margin-top: 15vh;
	 padding: 0px;
	 height: 50vh;
	 white-space: nowrap;
	 font-size: 0;
}




#red-div {
	background: linear-gradient(to left, red, white);
}
#blue-div {
	background: linear-gradient(to left, blue, black);
}
#green-div {
	background: linear-gradient(to left, green, white);
}
#yellow-div {
	background: linear-gradient(to left, yellow, black);
}
#orange-div {
	background: linear-gradient(to left, orange, black);
}
.home-div {
	margin: 0;
	padding: 0;
	width: 20%;
	overflow: hidden;
	height: 100%;
	display: inline-block;
}
.home-div-last {
	width: 45%;
}

div.row {
	margin: 0;
}

.left-side, .right-side {
	margin-top: 40px !important;
}








.title-text {
	text-align: center;
}

.text-highlight {
	color: $metro-sea;
}

.text-gray {
	color: $metro-gray;
}

hr { 
	margin-right: 20vw;
	margin-left: 20vw;

	&.hr-border-white {
		border-color: $metro-light-gray;
	}

	&.hr-border-black {
		border-color: $metro-black;
	}
}



#my-picture {
	height: 200px;
	width: 200px;	border-radius: 100px;
	border-style: solid;
    border-width: thick;
    margin: auto;
    border-color: $metro-sea;
	background-image: url('/images/my_image.png');
    background-size: cover;
}







// Dynamic scaling
@media (max-width: $grid-float-breakpoint) {
	.navbar-fixed-side {
		width: 100%;
	}
	div.content-block {
		padding: 0px;
	}
	#message {
		padding: 30px;
	}
}