//orange
$metro-pink: #f4a999;
$metro-orange: #f26c4f;
$metro-dark-orange: #bf553e;
$metro-brown: #724f48;


//blue
$metro-light-sea: #5fa2b6;
$metro-sea: #2790b0;
$metro-dark-sea: #2b4e72;
$metro-deep-sea: #192b30;



//green
$metro-light-grass: #84ba65;
$metro-grass: #608749;
$metro-dark-grass: #353a31;



//black
$white: #ffffff;
$metro-light-gray: #eeeeee;
$metro-gray: #4e4d4a;
$metro-black: #353432;

$gray-font: #aaaaaa;







//bootstrap color fixes;
$btn-primary-bg: $metro-sea !default;
$btn-primary-border: transparent !default;
$btn-warning-bg: $metro-orange !default;
$btn-warning-border: transparent !default;


$brand-primary:         $metro-sea !default;
$brand-success:         $metro-grass !default;
$brand-warning:         $metro-orange !default;
