<!DOCTYPE html>
<html>
  <head>
    <title>Myweb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="custom-nav">
      <ul>
        <li class="active"><a href="/" class="navbar-item-link"><h3>Home</h3></a></li>
        <li><a href="#section1" class="navbar-item-link"><h3>Web Applications</h3></a></li>
        <li><a href="#section2" class="navbar-item-link"><h3>Android and Windows</h3></a></li> 
        <li><a href="#section3" class="navbar-item-link"><h3>Other Projects</h3></a></li>
        <li><a href="#section4" class="navbar-item-link"><h3>Interests</h3></a></li>
        <li><a href="#section-about" class="navbar-item-link"><h3>About Me</h3></a></li>  
      </ul>
    </nav>







    <!-- Sections -->
    <div class="container-fluid" id="content-body">
      <%= yield %>
    </div>


    <div class="alert alert-warning" role="alert" id="alert-box">
      <strong>Warning!</strong> Javascript Disabled!
    </div>
  </body>
</html>